<%= render partial: '/shared/navbar' %>
<main class='home-container'>
    <p>Create Shortened URLs easily for effective sharing</p>
    <% if !user_signed_in? %>
        <p>Sign in to manage all your URLs</p>
    <% end %>

    <%= form_for :url_form, url: create_shortened_url_path, method: :post do |f| %>
        <%= f.text_field :original_url,  placeholder: 'Paste URL here' %>
        <%= f.submit 'Shorten', class: 'submit-btn' %>
    <% end %>

    <% if flash[:error].present? %>
        <p class="error"><%= flash[:error] %></p>
        <% elsif @shortened_url_data.present? %>
        <p>
            Shortened URL Code: 
            <%= link_to @shortened_url_code, @original_url, target: "_blank" %>
        </p>
    <% end %>
</main>

