<%= render partial: '/shared/navbar' %>
<h3>My URLs</h3>
<main class='user-urls-container'>
    <ul>
      <% @user_urls.each do |url| %>
        <li>
          <p>Original URL: <%= link_to url.original_url, url.original_url %> </p>
           <p>Shortened URL: 
              <%= link_to request.base_url + '/' + url.shortened_code, 
                request.base_url + '/' + url.shortened_code,
                target: '_blank'
              %>
           </p>
          <p><%= button_to 'Delete', shortened_url_path(url), method: :delete %></p>
        </li>
      <% end %>
    </ul>
  </main>
<%= link_to 'Back to Home', root_path %>